if breadcrumb_path.length>1
	ol.breadcrumb
		each breadcrumb,index in breadcrumb_path
			if breadcrumb.file
				if path.replace(/\//g,'')!==breadcrumb.path.replace(/\//g,'')
					li
						a(href=breadcrumb.file.path)!= breadcrumb.file.shortTitle || breadcrumb.file.title
				else
					li!= breadcrumb.file.title