.contact-form-wrapper
  h2 
    i.fa.fa-envelope
    |  Contact Form
  p Fill in the contact form to send us an email:
  noscript
    .alert.alert-warning
      p 
        i.fa.fa-exclamation-triangle
        |  This form requires Javascript to be enabled.
  form.form(id="contactForm" name="contact" action="/thank-you-email" method="post" netlify)
    .form-group
      label(for="name") Name
      .input-group
        .input-group-addon
          i.fa.fa-user
        input.form-control(type="text" name="name" placeholder="Your Name" required)
    .form-group
      label(for="email") Email address
      .input-group
        .input-group-addon
          i.fa.fa-at
        input.form-control(type="email" name="email" placeholder="you@example.com" required)
    .form-group
      label(for="anonymous")
        input(name='anonymous' type='checkbox')
        |  Send anonymous feedback
    .form-group
      label(for="subject") Subject
      .input-group
        .input-group-addon
          i.fa.fa-paragraph
        input.form-control(type="text" name="subject" placeholder="Subject Line" required)
    .form-group
      label(for="message") Message
      textarea.form-control(name='message' rows='5' placeholder="Your message" required)
    button.btn.btn-primary(type="submit")
      i.fa.fa-paper-plane
      |  Send!
  script.
    loadScript(function() {
      (function ($) {
        var name = $('input[name=name]')
        var email = $('input[name=email]')
        var anonymous = $('input[name=anonymous]')
        anonymous.change(function (event) {
          if (this.checked) {
            name.attr('disabled', true).val('Anonymous')
            email.attr('disabled', true).val('feedback@centreforeffectivealtruism.org')
          } else {
            name.attr('disabled', false).val('')
            email.attr('disabled', false).val('')
          }
        })
      }(jQuery))
    })