form.form-inline.donation-option.donation-option-paypal-uk(action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top")
  block donationOptions
  input(type="hidden" name="cmd" value="_s-xclick")
  button(type="submit" name="submit" class="btn btn-primary") Donate with PayPal