mixin tocItem(heading, currentLevel, deepestLevel, headings)
	if currentLevel <= deepestLevel
		li.table-of-contents-item
			a(href='#'+heading.id)!= heading.text
			if (heading.children && heading.children.length)
				ul.table-of-contents
					each childHeading in heading.children
						+tocItem(childHeading, (currentLevel + 1), deepestLevel, heading.children)


aside.table-of-contents-wrapper
	if headings
		h2.table-of-contents-title Contents
		- var tocDepth = 4 || tocDepth || 3;
		- var tocStartDepth = tocStartDepth || 2;
		- var deepestLevel = tocStartDepth + (tocDepth - 1)
		ul.table-of-contents.table-of-contents-top-level
			each heading,index in headings
				- level = parseInt(heading.tag.substr(1), 10);
				if level === tocStartDepth
					+tocItem(heading, level, deepestLevel, headings)


