// FONT FACES
$font-family-serif: "Cormorant Garamond", Georgia, Garamond, 'Times New Roman', serif;
$font-family-sans-serif: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;

$font-weight-normal: 400;
$font-weight-bold: 700;
// COLOURS

$site-primary: #2c5aa9;
$site-secondary: #63c6f0;
$site-muted: #EEE;
$site-dark-gray: #333;


$site-first: $site-primary;
$site-second: $site-secondary;


// $site-highlight: #6c0000;
// $site-lolight: #6c0000;

// coefficients


// site colours
$site-light: #63c6f0;
$site-highlight: $site-light;
// $site-lighter: #4FA8B8;
$site-dark: #00355d;
$site-lolight: $site-dark;
// $site-darker: #022633;

$site-secondary-light: #FFB557;
$site-secondary-highlight: $site-secondary-light;
$site-secondary-dark: #00355d;
$site-secondary-lolight: $site-secondary-dark;


$cea: #2c5aa9;
$gwwc: #6C0000;
$eightythousandhours: #3FBDD1;
$gpp: #7E95CC;
$tlycs: #ED1A24;
$ace: #349895;

$grid-gutter-width: 30px;
$content-padding: $grid-gutter-width * 2;


$footer-background-color: $site-muted;
