footer.footer#footer
  .container
    .row
      .col-md-6.footer-left
        p The Centre for Effective Altruism is a registered charity in England and Wales (Charity Number 1149828) and a registered 501(c)(3) Exempt Organization in the USA (EIN 47-1988398).
        p
          a(href="https://assets.contentful.com/es8pp29e1wp8/5vfuwIUI00GSscsUquI4kY/86194f452422b5ba71004b99628a8c28/FINAL_-_2016_-_990_-_CEA.pdf" target="_blank") Download our latest 990 Return (US)
        p All content © Centre For Effective Altruism or its respective authors, unless otherwise noted. For enquiries and feedback #[a(href="/contact") contact us].
        p
          a(href='/privacy-policy') Privacy Policy
      .col-md-6.footer-right
