mixin headerLogo(type)
	if breadcrumb_path.length && breadcrumb_path[0].file && breadcrumb_path[0].file.slug === 'eagx'
		- type = 'eagx';
	- type = type || 'eag'
		//- TODO: There's no type for blog post list
		#header-logo.row
			.col-md-4.col-md-offset-4
				.header-logo-wrapper
					img.header-logo(src="https://images.contentful.com/es8pp29e1wp8/YiH5br384KYEY0oQe2QKm/fd9418533ba463704284a60c97ade7a8/CEA_Logo.png")

mixin headerText(title)
	- title = title || ''
	.page-title-wrapper
		.container
			.row
				.col-md-10.col-md-offset-1
					h1.page-title#page-title!= typogr.typogrify(title)

mixin header(options)
	- var opts = options || {};
	- var showLogo = opts.logo === false ? false : true
	- var showBreadcrumbs = opts.breadcrumbs === false ? false : true
	- var showPagetitle = opts.title === false ? false : true
	header#header()
		if showBreadcrumbs
			include ../components/breadcrumbs
		if showPagetitle
			+headerText(title)
