script#app-script(src='/scripts/app.min.js' type="application/x-no-execution" async)
script(src='/scripts/loader.min.js' async)
if environment === 'production'
	//- production-only scripts go here
  script(src="https://load.sumome.com/" data-sumo-site-id="f4700e50fadf10744e24c7a7fcff40e1f19814b409c7c6877653b141d8e4cf8c" async="async")