#banner {
  background-color: $site-dark;
  background-position: center 30%;
  background-repeat: no-repeat;
  background-size: cover;
}
#header {
  text-align: center;
  min-height: 300px;
  height: 30vh;
  @media (min-width: $screen-lg) {
    height: 40vh;
  }
  position: relative;
  display: flex;
  align-items: center;
}
#header-logo {
  margin: auto;
  width: 100%;
  top: 0;
  bottom: 0;
}
.page-title-wrapper {
  width: 100%;
  margin: 0;
}
.page-title {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  margin: 18px 0;
  padding: $grid-gutter-width;
}
