
#navbar-main{
	transition: background 0.7s ease-in-out, border 0.7s ease-in-out, color 0.7s ease-in-out;
	font-family: $font-family-sans-serif;
	font-size: 16px;
	background-color: #FFF;
	border-bottom: 2px solid $site-primary;
	li.nav {
		&>a {
				color: $site-primary;
		}
		&.active>a {
		    border-bottom: 4px solid $site-highlight;
		    padding-bottom: 11.5px;
		}
	}
	&.nav-minimal {
		border-color: transparent;
		.navbar-header-brand {
			opacity: 0;
		}
	}
}
.navbar {
	transition: opacity .25s ease-in-out;
	transition: background-color .25s ease-in-out;
	background-color: transparent;
}

.navbar-header-brand {
	transition: opacity 0.7s ease-in-out;
	padding-left: $grid-gutter-width/2;

}
.navbar-header-brand-logo-wrapper {
	$padding: 10px;
	height: $navbar-height;
	width: 154px;
	padding: $padding 0;
}


.navbar-toggle {
	margin-top: 19px;
	color: $site-primary;
}
.navbar-main-menu{
	&>.navbar-nav {
		@media(min-width: $screen-md){
			float: right;
		}
	}
}
.navbar-toggle {
	padding: 0;
}
.navbar-header-brand-logo-wrapper,.navbar-header-brand-logo-text-wrapper {
	float: left;
}
.navbar-header-brand-logo {
	width: 100%;
}
