.job-list {

}

.jobs-list-wrapper {
  border: 2px solid $site-primary;
  border-left: none;
  border-right: none;
}

.jobs-list-job {
  margin: 30px 0;
}
.jobs-list-job-title {
  margin: 0;
}
.jobs-list-job-excerpt {
  font-style: italic;
}
.jobs-list-job-end-date-time {
  font-family: $font-family-sans-serif;
  font-size: 16px;
  color: #999;
  margin: 0;
}
.jobs-list-job-closed {
  .jobs-list-job-title {
    text-decoration: line-through;
  }
}
.job-application-application-link {
    text-align: center;
}

.jobs-list-empty {
  font-style: italic;
}
