$pad: $grid-gutter-width/2;
$npad: $pad * -1;
.post-info-wrapper {
  margin-bottom: $grid-gutter-width;
  padding: $pad;
  background: #FAFAFA;
  border: 1px solid #DDD;
  border-radius: 5px;
  .breadcrumb {
    margin: $npad $npad $pad;
    border-radius: 0;
  }
}
.post-info {
  font-weight: $font-weight-bold;
}
.post-tags-tag {
  &.label {
    margin-right: $grid-gutter-width/2;
    a {
      color: #FFF;
      font-family: $font-family-sans-serif;
    }
  }
}
.post-date-updated {
  display: block;
  font-weight: $font-weight-normal;
  font-style: italic;
}
