.series {
	// border
	@include clearfix();
}
.series-child-series-description {

}
.series-item {
	margin-bottom: $grid-gutter-width;
	border-bottom: 1px solid #EEE;
}
.series-title {
	border-bottom: 2px solid $text-color;
	padding-bottom: 4px;
}


.series-person {
}
.series-person-photo {
	border-bottom: $grid-gutter-width/2 solid $site-primary;
}
.series-person-title {
	margin:0;
}
.series-person-job-title {
	margin: 0;
	color: #999;
	font-family: $font-family-sans-serif;
}