.series {
	// border
	@include clearfix();
}
.series-child-series-description {

}
.series-item {
	margin-bottom: $grid-gutter-width;
	border-bottom: 1px solid #EEE;
}
.series-title {
	border-bottom: 2px solid $text-color;
	padding-bottom: 4px;
	margin-top: 0;
}


.series-person {
  margin-left: 15px;
}
.series-person-title {
	margin:0;
}
.series-person-job-title {
	margin: 0;
	color: #999;
	font-family: $font-family-sans-serif;
}


.series-person.format-minimal {
	@media(min-width: $screen-md) {
		float: left;
		width: 50%;
		height: 75px;
		border-bottom: none;
	}
	.series-person-photo {
		border-bottom-width: 4px;
	}
	.series-person-job-title {
		font-size: 16px;
	}
}
