case id
  when 'cea-fundraiser-2016-summary'
    include ../charts/cea-fundraiser-2016-summary.pug
  when 'cea-fundraiser-2017-summary'
    include ../charts/cea-fundraiser-2017-summary.pug
  default
    pre Missing chart