extends ./page

block content
  #content
    .row
      main.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2
        include ./components/breadcrumbs
        .row
          .col-lg-3
            .person-photo-wrapper
              img.person-photo(src=contentfulImage(photo))
          .col-lg-9
            p.person-job-title
              != jobTitle
            !=contents