extends ./page

block content
  #content
    .row
      main.col-md-10.col-md-offset-1.col-lg-8.col-lg-offset-2.person-main
        include ./components/breadcrumbs
        .row.person-content
          p.person-job-title
            != jobTitle
          !=contents
